html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{outline:none !important;}
html{background:#fff;}
body{font-family:'Roboto', 'sans-serif';}
.headerLine{position:relative;width:100%;overflow:hidden;height:100%;background:url(../images/bgTop.jpg) center center no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.headerLine:after{content:"";position:absolute;z-index:1;pointer-events:none;bottom:0;left:0;width:100%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;border-bottom:150px solid white;border-left:3000px solid transparent;}
#menu select{display:none;}
#menu li{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;border-right:1px solid #000;padding-left:17px;padding-right:16px;float:left;font-family:'Roboto', 'sans-serif';font-size:16px;color:#fff;list-style:none;text-transform:uppercase;font-weight:700;}
#menu li:last-child{border-right:0;padding-right:0px;}
#menu{margin-top:33px;margin-top:74px;float:right;}
#menu li a{color:#fff;text-decoration:none;}
#menu li a:hover{border:none;outline:none;color:#9E9E9E; font-weight: 900}
.border{background:#ffffff;width:70%;margin:0 auto;padding:1px;}
.gallery{height:100px;}
.slicknav_menu{display:none;}
.responsive {margin: 0 auto;}
@media screen and (max-width:991px){
#menu{display:none;}
#menuF{opacity:0 !important;}
.fixed{opacity:0;//display:none;}
.slicknav_menu{display:block;}
.gallery{display: none;}
}
@media screen and (max-width:460px){
.Ama{margin-top:100px !important;margin-bottom:60px !important;}
.soc ul li{margin-bottom:20px;}
}
@media screen and (max-width:323px){.footer .fEmail{border-radius:4px !important;margin-bottom:10px;}
.footer .subS{border-radius:4px !important;}
.news p{text-align:justify;}
}
@media screen and (max-width:1229px){.cont{margin-left:0px !important;}
.name{width:100% !important;}
.Email{width:100% !important;}
.ftext .cBtn ul{padding-left:40px !important;}
.news p{text-align:justify;}
}
.sl{height:67px;position:absolute;width:100%;top:418px;background:url(../images/sliderL.png) no-repeat;}
/**/.project{margin-top:12px;text-align:center;}
.project h3{letter-spacing:1px;font-family:'Roboto', 'sans-serif';font-weight:400;color:#2f2f2f; font-size: 21px;}
.project h4{margin-left:-5px;font-family:'Roboto', 'sans-serif';font-size:20px;font-weight:300;color:#2f2f2f;}
.project p{font-family:'Roboto', 'sans-serif';font-size:13px;font-weight:300;margin-top:16px;line-height:23px;color:#666666;}
/**/.wwa{margin-top:8px;text-align:center;}
.wwa h3{font-size:28px;color:#2f2f2f;font-family:'Roboto', 'sans-serif';font-weight:400;}
.wwa h4{margin-top:15px;font-size:16px;color:#2f2f2f;font-family:'Roboto', 'sans-serif';font-weight:300;}
/**/.team{text-align:center;margin-top:20px;}
.team .b1{padding-left:0;}
.team .b3{padding-right:0;}
.team img{margin:0 auto;}
.team h4{margin-top:28px;font-size:20px;color:#2f2f2f;font-family:'Roboto', 'sans-serif';font-weight:300;}
.team h5{margin-top:-3px;font-size:17px;color:#a9a9a9;font-family:'Roboto', 'sans-serif';font-weight:300;}
.team p{margin-top:12px;font-size:16px;color:#666;font-family:'Roboto', 'sans-serif';font-weight:300;line-height:24px;}
.team ul{margin-top:2px;padding-left:0px;display:inline-block;margin:0 auto;}
.team ul li{padding:0 10px;float:left;list-style:none;font-family:FontAwesome;font-size:15px;}
.team ul li a{color:#2f2f2f;}
.team ul li a:hover{color:#F44336;}
/**//**/.hr1{margin-top:20px;}
.hr1 hr{border:0;height:1px;background-image:-webkit-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));background-image:-moz-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));background-image:-ms-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));background-image:-o-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));}
/**/.aboutEdu{margin-top:20px;text-align:center;}
.aboutEdu h3{font-size:28px;color:#2f2f2f;font-family:'Roboto', 'sans-serif';font-weight:400;}
/**/.aboutTech{text-align:center;}
.aboutTech h3{font-size:28px;color:#2f2f2f;font-family:'Roboto', 'sans-serif';font-weight:400;}
.about h3{margin-top:51px;font-size:16px;color:#2f2f2f;font-family:'Roboto', 'sans-serif';font-weight:300;}
.about p{font-size:13px;line-height:22px;color:#666666;font-family:'Roboto', 'sans-serif';font-weight:300;margin-top:12px;margin-bottom:0;}
/**/.line3{position:relative;width:100%;overflow:hidden;height:100%;background:url(../images/bgTop.jpg) center center no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.line3:after{content:"";position:absolute;z-index:1;pointer-events:none;bottom:0;left:0;width:100%;height:240px;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;border-bottom:150px solid white;border-left:3000px solid transparent;}
.line3:before{top:0;display:block;content:"";position:absolute;z-index:1;pointer-events:none;bottom:0;left:0;width:100%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;border-top:60px solid white;border-right:3000px solid transparent;//bottom:489px;}
.Ama{margin-top:100px;margin-bottom:90px;}
@media screen and (min-device-width:1919px){.Ama{margin-top:110px;margin-bottom:110px;}}
.Ama h3{font-size:34px;text-align:center;color:#fff;font-family:'Roboto', 'sans-serif';font-weight:400;margin-top:17px;}
.Ama p{font-size:18px;text-align:center;color:#fff;font-family:'Roboto', 'sans-serif';font-weight:300;}
/**/.line7{position:relative;width:100%;overflow:hidden;max-height:100%;//background:#3f2d28;background:url(../images/line7Bg.svg) center center no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.line7:before{top:0;display:block;content:"";position:absolute;z-index:1;pointer-events:none;bottom:0;left:0;width:100%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;border-top:70px solid white;border-right:3000px solid transparent;//bottom:489px;}
.footer{min-height:330px;}
.footer h3{margin-top:115px;font-size:28px;font-family:'Roboto', 'sans-serif';font-weight:400;color:#fff;text-align:center;margin-bottom:17px;}
.footer p{font-size:18px;font-family:'Roboto', 'sans-serif';font-weight:300;color:#fff;text-align:center;}
.footer .fEmail{float:left;font-size:13px;font-family:'Roboto', 'sans-serif';font-weight:300;border:0;background:#1c1c1c;color:#fff;padding:11px;width:350px;border-radius:4px 0px 0px 4px;padding-left:20px;}
.footer .email{float:left;}
.footer .subS{text-transform:uppercase;font-size:13px;font-family:'Roboto', 'sans-serif';font-weight:700;float:left;color:#fff;border-radius:0 4px 4px 0;text-decoration:none;box-shadow:0px 2px 0px 0px #179abf;background:#9E9E9E;padding:10px;padding-right:20px;padding-left:20px;}
.fr{margin-top:10px;text-align:center;//margin:40px 0 0 357px;}
.mails{color:#101010;font-weight:500;}
/**/.soc ul li{margin-bottom:20px;margin-right:14px;float:left;text-align:center;text-decoration:none;list-style:none;}
.soc{margin-top:42px;text-align:center;}
.soc ul{margin-left:24px;padding-left:0;display:inline-block;}
.soc1 a{display:inline-block;height:17px;width:17px;background:url(../images/li.png)no-repeat center;margin-top:-2px;margin-left:-2px;padding: 25px 25px 25px 25px;}
.soc1{width:52px;height:52px;border:2px solid #fdfdfc;border-radius:50px;}
.soc1 a:hover{border:0;background:url(../images/li.png)no-repeat center;box-shadow:none;}
.soc1:hover{cursor:pointer;border:2px solid #1c1c1c;background:#1c1c1c;}
.soc2 a{display:inline-block;height:17px;width:17px;background:url(../images/f.png)no-repeat center;margin-top:-2px;margin-left:-2px;padding: 25px 25px 25px 25px;}
.soc2{width:52px;height:52px;border:2px solid #fdfdfc;border-radius:50px;}
.soc2 a:hover{border:0;background:url(../images/f.png) no-repeat center;box-shadow:none;}
.soc2:hover{cursor:pointer;border:2px solid #1c1c1c;background:#1c1c1c;}
.soc3 a{display:inline-block;height:19px;width:19px;background:url(../images/t.png) no-repeat center;margin-top:-2px;margin-left:-2px;padding: 25px 25px 25px 25px;}
.soc3{width:52px;height:52px;border:2px solid #fdfdfc;border-radius:50px;}
.soc3 a:hover{border:0;background:url(../images/t.png) no-repeat center;box-shadow:none;}
.soc3:hover{cursor:pointer;border:2px solid #1c1c1c;background:#1c1c1c;}
.soc4 a{display:inline-block;height:19px;width:19px;background:url(../images/g.png)no-repeat center;margin-top:-2px;margin-left:-2px;padding: 25px 25px 25px 25px;}
.soc4{width:52px;height:52px;border:2px solid #fdfdfc;border-radius:50px;}
.soc4 a:hover{border:0;background:url(../images/g.png) no-repeat center;box-shadow:none;}
.soc4:hover{cursor:pointer;border:2px solid #1c1c1c;background:#1c1c1c;}
@media screen and (max-width:991px){
.footer .fEmail{float:left;//max-width:350px;max-width:163px;}
.team ul{margin-bottom:20px;}
}
.isotope-hidden.isotope-item{pointer-events:none;z-index:1;}
.isotope,
.isotope .isotope-item{-webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;transition-duration:0.6s;}
.isotope{-webkit-transition-property:height, width;-moz-transition-property:height, width;transition-property:height, width;}
.isotope .isotope-item{-webkit-transition-property:-webkit-transform, opacity;-moz-transition-property:-moz-transform, opacity;transition-property:transform, opacity;}
.isotope.infinite-scrolling{-webkit-transition:none;-moz-transition:none;transition:none;}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition{-webkit-transition-duration:0.1s;-moz-transition-duration:0.1s;transition-duration:0.1s;}
#filter li a.selected{cursor:pointer;background:#F44336;color:#fff;box-shadow:0px 2px 0px 0px #179abf;}
#projects .columns1 .project{width:100%;}
.portfolio_block{width:100%;}
.portfolio_block .project .hover_img{position:relative;}
.portfolio_block.project_descr{position:relative;padding:37px 10px 14px;color:#979797;border:0;border-bottom:2px solid #ededed;transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;}
.portfolio_block .project:hover .project_descr{border-bottom-color:#765692;}
.portfolio_block .project_descr h4{margin-bottom:11px;font-size:15px;}
.blogpost_share{display:block;float:right;}
.default{transition-duration:1s;}
.fixed{transition-duration:1s;z-index:999;position:fixed;top:-65px;padding:20px 0;width:100%;background-color:#101010!important;}
/**/.portfolio_area{background:none repeat scroll 0 0 #4f535e;color:#fff;display:inline;float:left;padding-top:30px;width:100%;}
.portfolio_area h2{color:#fff;}
.portfolio_gallery{float:left;display:inline;width:100%;}
.wagwep-container ul#portfolio-filter{border-bottom:medium none;margin-top:25px;text-align:center;}
.wagwep-container ul#portfolio-filter a{background:#2f2f2f;box-shadow:0px 2px 0px 0px #000;color:#fff;font-weight:bold;margin:0 10px 10px 0;padding:6px 12px;text-decoration:none;text-transform:uppercase;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
.wagwep-container ul#portfolio-filter a:hover{background:#F44336;}
.og-grid li a figure span{border-bottom:1px solid rgba(255, 255, 255, 0.5);color:rgba(255, 255, 255, 0.9);display:block;font-weight:normal;margin:40% 20px 20px;padding:10px 0;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.2);text-transform:uppercase;}
.wagwep-container ul#portfolio-filter li{display:inline-block;float:none;}
a:hover{color:#101010;font-weight:600; text-decoration: none;}